<nav *ngIf="isLoggedIn()">
  <a routerLink="/product" routerLinkActive="active">Product</a>
  <a routerLink="/chat" routerLinkActive="active">Chat</a>
  <a routerLink="/profile" routerLinkActive="active">Profile</a>
  <a routerLink="/order" routerLinkActive="active">order</a>
  <a routerLink="/inventory" routerLinkActive="active">inventory</a>
  <a routerLink="/notifications" routerLinkActive="active"><mat-icon aria-hidden="false" aria-label="Example home icon"
      fontIcon="circle_notifications"></mat-icon>
  </a>
</nav>
<router-outlet></router-outlet>